<div class="page-header">
  <%= link_to stories_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New Story</h1>
</div>

<%= render 'form' %>
